<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>Test</title>
    <script src="./js/jquery-2.1.1.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/jquery.scrollify.js"></script>
    <script src="./js/stellar.min.js"></script>
    <script src="css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='./js/SmoothScroll.js'></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

<div class="my-flex-container-first">
    <div class="my-flex-block">item1</div>
    <div class="my-flex-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur ea enim et eum
        facere fugiat harum, hic, nemo nisi possimus quaerat quas recusandae saepe tempora. Architecto dolorem non
        voluptatem?
    </div>
    <div class="my-flex-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae consequuntur cum
        fugit harum iure laboriosam nemo nobis nulla pariatur qui quo repellendus rerum, saepe sequi soluta vel vitae
        voluptatem!
    </div>
</div>

<div class="my-flex-container-second">
    <div class="my-flex-block">item1</div>
    <div class="my-flex-block">item2</div>
    <div class="my-flex-block">item3</div>
</div>
    <h1>VUE JS</h1>

        <div id="app">
             {{ message }}
            <span>
                {{ message2 }}
            </span>
        </div>


        <div id="app-2">
            <span v-bind:title="message">
            Подержи курсор надо мной пару секунд,
            чтобы увидеть динамически связанное значение title!
            </span>
        </div>


        <div id="app-3">
            <p v-if="seen">Сейчас меня видно</p>
        </div>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text}}
                </li>
            </ol>
        </div>

        <div id="app-5">
            <p>
                {{message}}
            </p>
            <button v-on:click="button5">Cliked</button>
        </div>

        <div id="app-6">
            <p>
                {{message}}
            </p>
            <input v-model="message">
        </div>



        <div id="app-7">
            <p> Original message "{{ message }}" </p>
            <p> Reversed message "{{ revmessage }}" </p>
        </div>

        <div id="myComponent">
            <lama>1234</lama>
        </div>


<script>


    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            message2: 'Hello Vue2!'
        }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'Вот когда вы загрузили эту страницу: ' + new Date()
        }
    });

    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: false
        }
    });

    var app4 = new Vue({
       el:'#app-4',
        data:{
           todos:[
               {text: 'First'},
               {text: 'Second'},
               {text: 'Thirds'}
           ]
        }
    });

    var app5 = new Vue({
       el:'#app-5',
        data:{
           message:'Click'
        },
        methods:{
            'button5': function(){
                this.message+=" added"
    }
        }
    });

    var app6= new Vue({
        el:'#app-6',
        data:{
            message:'input-text'
        }
    });



    var app7= new Vue({
       el:'#app-7',
       data:{
           message:'it is message'
       },
       computed:{
           revmessage: function(){
               return this.message.split('').reverse().join('');
           }
       }
    });

    Vue.component('lama',{
        template:'<div>Lama Div</div>'
    });
    new Vue({
        el: '#myComponent'
    });


</script>
</body>
</html>

<style>
    #myComponent{
        font-size:30px;
        color:blue;
    }
</style>